{% extends "base.html" %}

{% block title %}{{title}}{% endblock title %}


{% block content %}

    <section id="about-page" class="mt-5">
        <div class="container">
            <div class="row mb-5 text-light">
                <div class="col-md-8 col-sm-12 m-auto pb-4 text-center">
                    <img src="{{about.pic.url}}" class="mb-4 main-img img-fluid shadow rounded-circle img-scale" alt="Author image">
                    <h1>{{about.name}}</h1>
                </div>
                <div class="col-lg-10 m-auto pb-4">
                    {{about.about|safe}}
                </div>
                <div class="col-md-8 col-sm-10 m-auto text-center">
                    <ul class="list-unstyled about-page-ul h5">
                        <li>
                            <i class="mr-2 fa fa-phone fa-lg"></i><a href="tel:{{about.phone}}"> {{about.phone}}</a>
                        </li>
                        <li>
                            <i class="mr-2 fa fa-envelope fa-lg"></i><a href="mailto:{{about.email}}"> {{about.email}}</a>
                        </li>
                        <li>
                            <i class="mr-2 fa fa-github fa-lg"></i><a href="{{about.github_link}}"> {{about.github_link}}</a>
                        </li>
                        <li>
                            <i class="mr-2 fa fa-map-marker fa-lg"></i><a href="https://www.google.com/maps/place/{{about.location}}"> {{about.location}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {% include "components/footer.html" %}

{% endblock content %}
