{% extends "base.html" %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

    <section id="tag-details" class="mt-5 text-light">
        <div class="col-md-10 col-sm-12 ml-auto mr-auto mt-5 pt-5 pb-2 text-center">
            <h1 class="mb-4 h2"><i class="fa fa-rss"></i> Latest Blogs with tag {{tag.name}}</h1>
            {% include "components/search-bar.html" %}
            {% include "components/post-list.html" %}
        </div>
    </section>

    {% include "components/footer.html" %}

{% endblock content %}
